* {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #838383;
}

h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
	margin: 70px 0 0 0;
}

footer {
	width: 100%;
	height: 900px;
	background-image: url("../img/footer-terms.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.flex {
	display: flex;
}

.head-menu {
	display: flex;
}

.head-menu-text {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	list-style: none;
	margin: 23px 10px 0px 10px;
}

.terms-text {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	width: 997px;
	margin: 30px 0 0 50px;
}

.foot-buttons {
	width: 546px;
	float: right;
	padding: 200px 160px 0 0;

}

.foot-button {
	background-color: #00D1FF;
	border: none;
	width: 260px;
	height: 75px;
	border-radius: 35px;
	font-size: 32px;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
}

.foot-button:hover {
	background-color: #00A7CC;
}

.foot-text {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	width: 546px;
	margin: 350px 0px 0 0;
	color: white;
}

.arrow {
	margin: 810px 0 0 0;
}